.body{
    min-width:1200px;
    font-size:16px;
    line-height:24px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto","Arial",sans-serif;
    background-color:#ffffff;
}
h1{
    font-size:55px;
    line-height:55px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto","Arial",sans-serif;
}
h2{
    font-size:45px;
    line-height:45px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto","Arial",sans-serif;
}
h3{
    font-size:24px;
    font-weight:bold;
    font-family:"Roboto","Arial",sans-serif;
    text-transform: uppercase;
}
.main-container{
    width:1200px;
    margin-right:auto;
    margin-left:auto;
}
.top-block{
    margin-bottom:80px;
    padding-top:43px;
    background-color:#eeeeee;
}
header{
    min-height:70px;
    width:1160px;
    background-color:#eeeeee;
    color:#000000;
}
.logo{
    width:160px;
    float:left;
    margin-top:-5px;
}
.logo-link:hover{
    opacity:0.8;
}
.logo-link:active{
    opacity:0.3;
}
.top-navigation{
    position:relative;
    width:440px;
    min-height:45px; 
    float:left;
    margin-left:200px;
}
.top-navigation ul{
    margin:0;
    padding:0;
}
.top-navigation li{
    display:inline-block;
    vertical-align:top;
    line-height:30px;
    margin-right:42px;
}
.vizited{
    position:absolute;
    display:block;
    height:2px;
    background-color:#fb565a;
}
.vizited-1{
    width:60px;
    top:55px;
    left:2px;
}
.vizited-3{
    width:74px;
    top:55px;
    left:233px;
}
.top-navigation a{
    display:block;
    color:#000000;
    text-decoration:none;
    text-transform:uppercase;
    padding-top:20px;
    padding-bottom:20px;
    font-family:"Roboto","Arial",sans-serif;
    font-weight:bold;
    }
.top-navigation ul li:last-child{
    margin-right:0;
}
.top-navigation a:hover{
    color:#fb565a;
}
.top-navigation a:active{
    color:#000000;
    opacity:0.3;
}
.top-basket{
    position:relative;
    display:inline-block;
    max-width:140px;
    float:right;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
}
.top-basket a{
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    font-size:16px;
    line-height:30px;
    color:#000000;
    font-weight:bold;
    vertical-align:top;
}
.top-basket a:hover{
    color:#fb565a;
}
.top-basket a:active{
    color:#000000;
    opacity:0.3;
}
.top-basket::before{
    content:"";
    position:absolute;
    top:26px;
    left:10px;
    background-color:transparent;
    background-image:url("../img/sprite.png");
    width: 15px;
    height: 15px;
    background-position: -20px -20px;
    opacity:0.3;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
.btn{
    display:block;
    width:240px;
    height:20px;
    background-color:#fb565a;
    border-radius:5px;
    margin-top:40px;
    text-align:center;
    padding-top:16px;
    padding-bottom:14px;
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
}
.btn:hover{
    background-color:#e74246;
}
.btn:active{
    background-color:#d7373b;
    color:#e37376;
    box-shadow:inset 0 2px 0 0 #c13135;
}
.bottom-block{
    margin-bottom:80px;
}
.main-catalog{
    margin-bottom:25px;
    margin-top:-40px;
}
.veb-sites{
    float:left;
    width:300px;
}
.veb-sites img{
    background-color:#fb565a;
    color:#ffffff;
}
.apps{
    float:left;
    width:300px;
    margin-left:100px;
}
.apps img{
    background-color:#00ca74;
    color:#ffffff;
}
.present{
    float:left;
    width:300px;
    margin-left:100px;
}
.present img{
    background-color:#efc849;
    color:#ffffff;
}
.btn-2{
    display:block;
    text-decoration:none;
    color:#ffffff;
    text-transform:uppercase;
    text-align:center;
    padding-top:16px;
    padding-bottom:16px;
    letter-spacing:0.3px;
}
.charter{
    margin-top:40px;
    margin-bottom:70px;
    width:160px;
    border-radius:2px;
}
.charter-1{
    background:#fb565a;
}
.charter-1:hover{
    background:#e74246;
}
.charter-1:active{
    color:#e37376;
    background:#d7373b;
    box-shadow:inset 0 2px 0 0 #c13135;
}
.charter-2{
    background:#00ca74;
}
.charter-2:hover{
    background:#00bc6c;
}
.charter-2:active{
    color:#4dc491;
    background:#00bc6c;
    box-shadow:inset 0 2px 0 0 #009958;
}
.charter-3{
    background:#efc84a;
}
.charter-3:hover{
    background:#eab534;
}
.charter-3:active{
    color:#edc265;
    background:#e5a722;
    box-shadow:inset 0 2px 0 0 #ce961f;
}
.main-list{
    margin-bottom:10px;
}
.advantage{
    margin-bottom:64px;
    border-top:2px solid #eeeeee;
    padding-top:30px;
}
.advantage-left{
    position:relative;
    float:left;
    width:700px;
    min-height:430px;
    padding:0px 0px;
}
.advantage-left h2{
    position:absolute;
    top:4px;
}
.advantage-left h4{
    position:absolute;
    text-transform:uppercase;
    top:235px;
}
.advantage-left p{
    position:absolute;
    top:153px;
    font-size:16px;
    line-height:24px;
}
.menu-charter{
    position:absolute;
    line-height:48px;
    top:273px;
    left:-2px;
}
.menu-charter li{
    list-style:none;
    position:relative;
}
.menu-charter li::before{
    content:"";
    position:absolute;
    display:block;
    width:25px;
    height:2px;
    background-color:#fb565a;
    top:23px;
    left:-40px;
}
.advantage-right{
    float:right;
    position:relative;
    width:400px;
    min-height:430px;
}
.advantage-right h4{
    position:absolute;
    top:235px;
    left:20px;
    text-transform:uppercase;
}
.logo-color{
    position:absolute;
    top:10px;
    background-color:#ffffff;
    color:#000000;
}
.statistics{
    position:absolute;
    top:293px;
    left:-40px;
}
.stat-1{
    float:left;
    margin-left:42px;
}
.stat-2{
    float:left;
    margin-left:20px;
}
.stat-3{
    float:left;
    margin-left:20px;
}
.stat{
    position:relative;
    width:100px;
    margin-top:-12px;
}
.stat p{
    margin-top:-20px;
}
.stat-1 h3 ,
.stat-2 h3
{
    position:absolute;
    left:75px;
    top:10px;
    font-size:26px;
}
.stat-3 h3
{
    position:absolute;
    left:50px;
    top:10px;
    font-size:26px;
}
.client-logotip{
    border-top:2px solid #eeeeee;
    border-bottom:2px solid #eeeeee;
}
.client img{
    background-color:#ffffff;
    color:#000000;
}
.client{
    float:left;
    opacity:0.2;
    position:relative;
}
.separate-line{
    content:"";
    position:absolute;
    top:65px;
    left:300px;
    display:block;
    width:2px;
    height:52px;
    background-color:#000000;
}
.client:hover{
    opacity:1;
}
.client:active{
    opacity:0.1;
}
.client-1{
    margin-left:0px;
    }
.client-2{
    margin-left:40px;
}
.client-3{
    margin-left:40px;
}
.client-4{
    margin-left:40px;
}
.map{
    position:relative;
}
.contakts{
    width:320px;
    min-height:0px;
    position:absolute;
    top:50px;
    left:76px;
    background:#ffffff;
    padding-top:35px;
    padding-bottom:35px;
    padding-right:0px;
    padding-left:0px;
}
.main-contakts h4{
    text-transform:uppercase;
    margin-bottom:30px;
    font-size:16px;
    text-align:left;
}
.main-contakts{
    width:200px;
    margin-right:auto;
    margin-left:auto;
    padding-right:20px;
}
.btn-3{
    display:block;
    width:220px;
    height:20px;
    background-color:#fb565a;
    border-radius:5px;
    text-align:center;
    padding-top:16px;
    padding-bottom:14px;
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
    margin-top:40px;
}
.btn-3:hover{
    background-color:#e74246;
}
.btn-3:active{
    background-color:#d7373b;
    color:#e37376;
    box-shadow:inset 0 2px 0 0 #c13135;
}
.social{
    display:inline-block;
}
.social-list{
    list-style:none;
    width:260px;
    padding-left:0px;
    margin-right:135px;
    margin-top:25px;
}
.social-list li{
    margin-right:3px;
}
.social-list a{
    display:inline-block;
    border-radius:50%;
    min-height:80px;
    width:80px;
    background-color:#e1e1e1;
}
.social-list a:hover{
    background-color:#e74246;
}
.social-list a:active{
    background-color:#d7373b;
    box-shadow:inset 0 2px 0 0 #c13135;
    opacity:1;
}
.social-1 a{
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
    display:block;
    background-position:5px -387px;
}
.social-1 a:active{
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
    display:block;
    background-position:5px -442px;
}
.social-2 a{
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
    display:block;
    background-position:14px -47px;
}
.social-2 a:active{
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
    display:block;
    background-position:14px -109px;
}
.social-3 a{
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
    display:block;
    background-position:10px -170px;
}
.social-3 a:active{
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
    display:block;
    background-position:10px -231px;
}
.footer{
    position:relative;
}
.friends{
    position:absolute;
    top:28px;
    left:472px;
    display:inline-block;
}
.profit{
    font-weight:bold;
    font-size:36px;
}
.magazine{
    min-height:165px;
    margin-top:70px;
    padding-left:219px;
}
.left-column{
    width:260px;
    min-height:775px;
    float:left;
}
.range-filter{
    width:240px;
}
.range-controls{
    position:relative;
    height:41px;
    padding-top:39px;
    padding-right:20px;
    padding-left:20px;
    border-radius:5px;
    background:#f1f1f1;
    margin-bottom:15px;
    width:220px;
}
.range-controls .scale{
    height:2px;
    background:#d7dcde;
}
.range-controls .bar{
    width:70%;
    height:2px;
    background:#00ca74;
}
.range-controls .toggle{
    position:absolute;
    top:30px;
    left:0px;
    width:4px;
    height:4px;
    border:8px solid #fff;
    background:#ababab;
    border-radius:50%;
    box-shadow:0 2px 1px 0 #cfcfcf;
    cursor:pointer;
}
.range-controls .toggle-min{
    left:20px;
}
.range-controls .toggle-max{
    left:160px;
}
.price-controls{
    font-size:0;
    position:relative;
    margin-bottom:70px;
}
.price-controls label{
    display:inline-block;
    width: 50%;
    font-size:16px;
    text-transform:uppercase;
    position:absolute;
}
.max-price{
    text-align:right;
    right:-20px;
}
.price-controls input{
    font-family:"Roboto","Arial",sans-serif;
    font-size:16px;
    text-align:center;
    color:#283136;
    width:60px;
    padding:8px 10px;
    border:none;
    border-radius:5px;
    background:#f1f1f1;
    margin-left:10px;
}
.price h3{
    font-size:18px;
    font-weight:bold;
    margin-bottom:50px;
}
.net{
    min-height:160px;
    width:100%;
    padding-top:25px;
    margin-bottom:45px;
}
.net h3{
    font-size:18px;
    font-weight:bold;
}
.net label{
    display:block;
    margin-bottom:19px;
}
.input-radio{
    display:inline-block;
    vertical-align:middle;
    width:23px;
    height:23px;
    margin-right:10px;
}
.input-checkbox{
    display:inline-block;
    vertical-align:middle;
    width:22px;
    height:22px;
    margin-right:10px;
}
.features{
    min-height:250px;
    width:100%;
    margin-bottom:22px;
}
.features h3{
    font-size:18px;
    font-weight:bold;
    margin-bottom:22px;
}
.features label{
    display:block;
    margin-bottom:19px;
}
.btn-4{
    width:260px;
    text-transform:uppercase;
    min-height:50px;
    background-color:#eeeeee;
    color:#000000;
    border-radius:5px;
    box-shadow:none;
    font-size:16px;
    font-weight:bold;
}
.btn-4:hover{
    background-color:#dfdfdf;
}
.btn-4:active{
    background-color:#d5d5d5;
    opacity:0.3;
    box-shadow:inset 0 2px 0 0 #bfbfbf;
}
.gallery{
    float:right;
    width:760px;
    margin-right:38px;
}
.block-list{
    margin-top:23px;
}
.block-img{
    margin-bottom:-4px;
}
.block-item{
    width:360px;
    margin-bottom:35px;
    position:relative;
}
.block-item:hover{
    box-shadow:0 0 1px 2px #e1e1e1;
}
.block-item:hover .block-hover{
    display:block;
}
.block-general{
    border:1px solid #e5e5e5;
}
.block-gray{
    width:360px;
    background-color:#e9e9e9;
    padding-top:10px;
    padding-bottom:11px;
}
.block-gray ul{
    margin:0px;
    padding:0px;
    margin-left:15px;
}
.block-gray li{
    display:inline-block;
    vertical-align:top;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:#ffffff;
    margin-left:3px;
}
.block-hover{
    display:none;
    position:absolute;
    bottom:0px;
    left:;
    background-color:#eeeeee;
    width:360px;
    height:230px;
    text-align:center;
}
.block-hover h4{
    position:relative;
    display:block;
    text-transform:uppercase;
    font-size:18px;
    margin-top:25px;
}
.btn-5{
    position:absolute;
    top:132px;
    left:80px;
    display:block;
    width:200px;
    background-color:#fb565a;
    border-radius:2px;
    text-align:center;
    padding-top:14px;
    padding-bottom:14px;
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
}
.sedona,.barbershop,.a-plus{
    float:left;
}
.pink,.mishka,.kvast{
    float:right;
}
.sorting-menu{
    position:relative;
}
.sorting h3{
    font-size:18px;
    font-weight:bold;
    margin-left:0px;
    margin-top:12px;
}
.sorting-type{
    display:inline-block;
    vertical-align:top;
    margin-left:400px;
    margin-top:-50px;
}
.sorting-list{
    list-style:none;
    margin:0px;
    padding:0px;
}
.sorting-list li{
    display:inline-block;
    text-transform:uppercase;
    font-size:14px;
    margin-right:18px;
    margin-top:14px;
    opacity:0.3;
}
.sorting-list li:nth-child(1){
    width:65px;
}
.sorting-list li:nth-child(2){
    width:65px;
}
.sorting-list li:nth-child(3){
    width:105px;
}
.sorting-list li:hover{
    opacity:0.6;
}
.sorting-list li:active{
    opacity:1;
}
.sorting-icon{
    display:inline-block;
    position:absolute;
    vertical-align:top;
    top:6px;
    right:0px;
}
.sorting-delta{
    width:15px;
    height:15px;
    display:inline-block;
    vertical-align:top;
    opacity:0.2;
}
.sorting-delta:hover{
    opacity:0.4;
}
.sorting-delta:active{
    opacity:1;
}
.delta-1{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -20px -321px;
}
.delta-2{
    margin-left:8px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -20px -370px;
}
.bottom-navigator{
    margin-bottom:70px;
}
.page-navigator{
    margin-left:360px;
}
.page{
    display:inline-block;
    text-align:center;
}
.page a{
    display:block;
    text-decoration:none;
    font-size:16px;
    color:#000000;
    font-weight:bold;
    text-transform:uppercase;
    width:50px;
    padding-top:16px;
    padding-bottom:16px;
    margin-right:5px;
    background-color:#eeeeee;
    border-radius:2px;
}
.page a:hover{
    background-color:#dfdfdf;
}
.page a:active{
    background-color:#d5d5d5;
    color:#959595;
    box-shadow:inset 0 2px 0 0 #bfbfbf;
}
.page .page-vizited{
    background-color:"#ffffff";
    opacity:1;
    box-shadow:inset 0 0 0 3px #dbdbdb;
}
.page .next{
    width:260px;
}
.slider{
    position:relative;
    min-height:390px;
    background-image:url(../img/slider-1.png);
    background-repeat:no-repeat;
    background-position:400px -14px;
    padding-top:30px;
}
.slider p{
    margin-top:-14px;
    line-height:25px;
    letter-spacing:0.2px;
}
.slider-icon{
    position:absolute;
    left:534px;
    top:302px;
}
.icon{
    display:inline-block;
    vertical-align:top;
    width:18px;
    height:18px;
    border-radius:50%;
    background-color:#ffffff;
    margin-right:13px;
}
.icon-active::before{
    content:"";
    position:absolute;
    top:5px;
    left:5px;
    border:2px solid #c1c1c1;
    border-radius:50%;
    width:4px;
    height:4px;
}
Стили спрайта
/*
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -20px -20px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -20px -75px;
}

.sprite-fb-icon-red {
    width: 12px;
    height: 22px;
    background-position: -20px -137px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -20px -199px;
}

.sprite-insta-icon-red {
    width: 21px;
    height: 21px;
    background-position: -20px -260px;
}

.sprite-sort-down {
    width: 9px;
    height: 9px;
    background-position: -20px -321px;
}

.sprite-sort-up {
    width: 9px;
    height: 9px;
    background-position: -20px -370px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -20px -419px;
}

.sprite-vk-icon-red {
    width: 26px;
    height: 15px;
    background-position: -20px -474px;
}

*/