.body{
    min-width:1200px;
    font-size:16px;
    line-height:24px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto","Verdana",sans-serif;
    background-color:#ffffff;
}
h1{
    font-size:55px;
    line-height:55px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto","Verdana",sans-serif;
}
h2{
    font-size:45px;
    line-height:45px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto","Verdana",sans-serif;
}
h3{
    font-size:24px;
    font-weight:bold;
    font-family:"Roboto","Verdana",sans-serif;
    text-transform: uppercase;
}
.main-container{
    width:1200px;
    margin-right:auto;
    margin-left:auto;
}
.top-block{
    /*border:1px solid blue;*/
    /*min-height:545px;*/
    /*position:relative;*/
    margin-bottom:80px;
    background-color:#eeeeee;
}
header{
    min-height:70px;
    width:1160px;
    margin-top:43px;
    /*margin-bottom:30px;*/
    background-color:#eeeeee;
    color:#000000;
}
.logo{
    width:160px;
    float:left;
    margin-top:-5px;
}
.logo-link:hover{
    opacity:0.8;
}
.logo-link:active{
    opacity:0.3;
}
.top-navigation{
    width:440px;
    min-height:45px; 
    float:left;
    margin-left:200px;
}
.top-navigation ul{
    margin:0;
    padding:0;
}
.top-navigation ul li{
    display:inline-block;
    vertical-align:top;
    line-height:30px;
    margin-right:42px;
}
.top-navigation a{
    display:block;
    color:#000000;
    text-decoration:none;
    text-transform:uppercase;
    padding-top:20px;
    padding-bottom:20px;
    font-family:"Roboto",sans-serif;
    font-weight:bold;
    }
.top-navigation ul li:last-child{
    margin-right:0;
}
.top-navigation a:hover{
    color:#fb565a;
}
.top-navigation a:active{
    color:#000000;
    opacity:0.3;
}
.top-basket{
    position:relative;
    display:inline-block;
    max-width:140px;
    float:right;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
}
.top-basket a{
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    font-size:16px;
    line-height:30px;
    color:#000000;
    font-weight:bold;
    vertical-align:top;
}
.top-basket a:hover{
    color:#fb565a;
}
.top-basket a:active{
    color:#000000;
    opacity:0.3;
}
.top-basket::before{
    content:"";
    position:absolute;
    top:26px;
    left:10px;
    background-color:transparent;
    background-image:url("../img/sprite.png");
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
    opacity:0.3;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
.btn{
    display:block;
    width:240px;
    height:20px;
    background-color:#fb565a;
    border-radius:5px;
    margin-top:40px;
    text-align:center;
    padding-top:16px;
    padding-bottom:14px;
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
}
.btn:hover{
    background-color:#e74246;
}
.btn:active{
    background-color:#d7373b;
    color:#e37376;
    box-shadow:inset 0 5px 0 0 #c13135;
}
.bottom-block{
    /*border:1px solid blue;*/
    /*width:1160px;*/
    /*margin-left:130px;*/
    margin-bottom:80px;
    position:relative;
}
.bottom-block::after{
    content:"";
    position:absolute;
    background-image:url(../img/gray-line.png);
    background-repeat:repeat-x;
    width:1160px;
    top:427px;
    height:2px;
}
.main-catalog{
    /*border:1px solid red;*/
    margin-bottom:40px;
    width:1100px;
}
.veb-sites{
    /*border:1px solid blue;*/
    float:left;
    width:300px;
}
.apps{
    /*border:1px solid blue;*/
    float:left;
    width:300px;
    margin-left:100px;
}
.present{
    /*border:1px solid blue;*/
    float:right;
    width:300px;
    margin-left:100;
}
.btn-2{
    display:block;
    text-decoration:none;
    color:#ffffff;
    text-transform:uppercase;
    text-align:center;
    padding-top:16px;
    padding-bottom:16px;
    letter-spacing:0.3px;
}
.charter{
    /*border:1px solid blue;*/
    margin-top:40px;
    margin-bottom:70px;
    width:160px;
    border-radius:2px;
}
.charter-1{
    background:#fb565a;
}
.charter-1:hover{
    background:#e74246;
}
.charter-1:active{
    color:#e37376;
    background:#d7373b;
    box-shadow:inset 0 5px 0 0 #c13135;
}
.charter-2{
    background:#00ca74;
}
.charter-2:hover{
    background:#00bc6c;
}
.charter-2:active{
    color:#4dc491;
    background:#00bc6c;
    box-shadow:inset 0 5px 0 0 #009958;
}
.charter-3{
    background:#efc84a;
}
.charter-3:hover{
    background:#eab534;
}
.charter-3:active{
    color:#edc265;
    background:#e5a722;
    box-shadow:inset 0 5px 0 0 #ce961f;
}
.advantage{
    /*border:1px solid red;*/
    margin-bottom:64px;
    /*border-top:2px solid #eeeeee;*/
}
.advantage-left{
    position:relative;
    float:left;
    width:700px;
    min-height:430px;
    padding:0px 0px;
}
.advantage-left h2{
    position:absolute;
    top:4px;
}
.advantage-left h4{
    position:absolute;
    text-transform:uppercase;
    top:235px;
}
.advantage-left p{
    position:absolute;
    top:153px;
    font-size:16px;
    line-height:24px;
}
.menu-charter{
    position:absolute;
    line-height:48px;
    top:273px;
    left:-2px;
}
.menu-charter li{
    list-style:none;
}
.advantage-right{
    /*border:1px solid blue;*/
    float:right;
    position:relative;
    width:400px;
    min-height:430px;
}
.advantage-right h4{
    position:absolute;
    top:235px;
    left:20px;
    text-transform:uppercase;
    /*margin-left:40px;*/
}
.logo-color{
    /*margin-top:5px;
    margin-left:43px;
    margin-bottom:32px;*/
    position:absolute;
    top:10px;
}
.statistics{
    position:absolute;
    top:293px;
    left:-40px;
}
.stat-1{
    float:left;
    margin-left:42px;
}
.stat-2{
    float:left;
    margin-left:20px;
}
.stat-3{
    float:left;
    margin-left:20px;
}
.stat{
    width:100px;
    margin-top:-12px;
}
.stat p{
    margin-top:-20px;
}
.client-logotip{
    border-top:2px solid #eeeeee;
    border-bottom:2px solid #eeeeee;
    /*position:relative;
    min-height:180px;*/
}

/*.client-logotip::after{
    content:"";
    position:absolute;
    background-image:url(../img/gray-line.png);
    background-repeat:repeat-y;
    width:2px;
    top:60px;
    left:280px;
    height:52px;
}*/
.client{
    float:left;
    opacity:0.2;
}
.client:hover{
    opacity:1;
}
.client:active{
    opacity:0.1;
}
.client-1{
    margin-left:0px;
    }
.client-2{
    margin-left:40px;
}
.client-3{
    margin-left:40px;
}
.client-4{
    margin-left:40px;
}
.map{
    position:relative;
}
.contakts{
    border:1px solid blue;
    width:320px;
    min-height:310px;
    position:absolute;
    top:54px;
    left:100px;
    background:#ffffff;
    padding:50px;
    padding-bottom:40px;
    box-sizing:border-box;
}
.contakts h4{
    text-transform:uppercase;
}
.btn-3{
    display:block;
    width:220px;
    height:20px;
    background-color:#fb565a;
    border-radius:5px;
    text-align:center;
    padding-top:16px;
    padding-bottom:14px;
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
}
.social{
    display:inline-block;
}
.social-list{
    border:1px solid blue;
    list-style:none;
    width:260px;
    padding-left:0;
    margin-right:135px;
}
.social-list a{
    border:1px solid red;
    display:inline-block;
    border-radius:50%;
    min-height:80px;
    width:80px;
}
.friends{
    border:1px solid blue;
    display:inline-block;
}
.profit{
    font-weight:bold;
    font-size:38px;
}
.top-block-catalog{
    border:1px solid blue; 
    width:100%;
    min-height:340px;
    margin-bottom:57px;
}
.magazine{
    margin-left:345px;
    margin-top:70px;
}
.main-catalog{
    /*border:1px solid blue;*/
    /*border-bottom:1px solid #eeeeee;*/
}
.left-column{
    border:1px solid blue;
    margin-left:128px;
    width:260px;
    min-height:775px;
    float:left;
}
.price h3{
    font-size:18px;
    font-weight:bold;
}
.main-range{
    border:1px solid blue;
    padding-bottom:39px;
    width:242px;
    border-radius:2px;
    padding-left:18px;
}
.range {
    width: 200px;
    height: 3px;
    background: grey;
    margin-top: 40px;
    position: relative;
} 
.range:after {
    position: absolute;
    content: '';
    width: 80%;
    height: 100%;
    background: red;
    top: 0;
    left: 25px;
}
.range-item {
    position: absolute;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50%;
    top: -8px;
    z-index: 1;
}
.range-item:after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.range-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.range-item-left {
  left: 10px;
}
.range-item-right {
  right: 10px;
}
.gallery{
  border:1px solid blue;
  float:right;
  width:760px;
}
.block-item{
    width:360px;
}
.sedona,.barbershop,.a-plus{
    float:left;
}
.pink,.mishka,.kvast{
    float:right;
}
.sort{
    border:1px solid red;
}
.sorting{
    border:1px solid blue;
    display:inline-block;
}
.sort-1{
    border:1px solid blue;
    display:inline-block;
}
.sorting-icon{
    border:1px solid blue;
    display:inline-block;
}
.bottom-navigator{
    border:1px solid red;
}
.page{
    border:1px solid blue;
    display:inline-block;
    width:50px;
    min-height:50px;
}
.page-next{
    width:260px;
}
.slider{
    position:relative;
    min-height:390px;
    background-image:url(../img/slider-1.png);
    background-repeat:no-repeat;
    background-position:400px -14px;
    padding-top:30px;
}
.slider p{
    margin-top:-14px;
    line-height:25px;
    letter-spacing:0.2px;
}
.slider-icon{
    position:absolute;
    left:534px;
    top:302px;
}
.icon{
    display:inline-block;
    vertical-align:top;
    width:18px;
    height:18px;
    border-radius:50%;
    background-color:#ffffff;
    margin-right:13px;
}
.icon-active::before{
    content:"";
    position:absolute;
    top:5px;
    left:5px;
    border:2px solid #c1c1c1;
    border-radius:50%;
    width:4px;
    height:4px;
}
/*Стили спрайта
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -10px -45px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -10px -87px;
}

.sprite-sort-down {
    width: 9px;
    height: 9px;
    background-position: -10px -128px;
}

.sprite-sort-up {
    width: 9px;
    height: 9px;
    background-position: -10px -157px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -10px -186px;
}
*/