.body{
    min-width:1200px;
    font-size:16px;
    line-height:24px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto",serif;
    background-color:#ffffff;
}
h1{
    font-size:55px;
    line-height:55px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto",sans-serif;
}
h2{
    font-size:45px;
    line-height:45px;
    color:#000000;
    font-weight:bold;
    font-family:"Roboto",sans-serif;
}
h3{
    font-size:24px;
    font-weight:bold;
    font-family:"Roboto",sans-serif;
    text-transform: uppercase;
}
.main-container{
    width:1200px;
    margin-right:auto;
    margin-left:auto;
}
.top-block{
    border:1px solid blue;
    min-height:545px;
    margin-bottom:65px;
    background-color:#eeeeee;
}
header{
    min-height:70px;
    width:1160px;
    margin-top:40px;
    margin-bottom:35px;
    background-color:#eeeeee;
    color:#000000;
}
.logo{
    width:160px;
    float:left;
}
.logo-link:hover{
    opacity:0.8;
}
.top-navigation{
    width:440px;
    min-height:45px; 
    float:left;
    margin-left:200px;
}
.top-navigation ul{
    margin:0;
    padding:0;
}
.top-navigation ul li{
    display:inline-block;
    vertical-align:top;
    line-height:30px;
    margin-right:40px;
}
.top-navigation a{
    display:block;
    color:#000000;
    text-decoration:none;
    text-transform:uppercase;
    padding-top:20px;
    padding-bottom:20px;
    font-family:"Roboto",sans-serif;
    font-weight:bold;
    }
.top-navigation ul li:last-child{
    margin-right:0;
}
.top-navigation a:hover{
    color:#fb565a;
}
.top-basket{
    position:relative;
    display:inline-block;
    max-width:140px;
    float:right;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:20px;
}
.top-basket a{
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    font-size:16px;
    line-height:30px;
    color:#000000;
    font-weight:bold;
    vertical-align:top;
}
.top-basket a:hover{
    color:#fb565a;
}
.top-basket::before{
    content:"";
    position:absolute;
    top:26px;
    left:25px;
    background-color:transparent;
    background-image:url("../img/sprite.png");
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
    opacity:0.3;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
.more{
    width:240px;
    height:50px;
    background-color:#fb565a;
    border-radius:5px;
    margin-top:42px;
    }
.more a{
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
}
.bottom-block{
    border:1px solid blue;
    /*width:1160px;*/
    /*margin-left:130px;*/
    margin-bottom:80px;
}
.main-catalog{
    border:1px solid red;
    margin-bottom:40px;
    width:1100px;
}
.veb-sites{
    border:1px solid blue;
    float:left;
    width:300px;
}
.apps{
    border:1px solid blue;
    float:left;
    width:300px;
    margin-left:100px;
}
.present{
    border:1px solid blue;
    float:right;
    width:300px;
    margin-left:100;
}
.charter{
    border:1px solid blue;
    width:160px;
    height:50px;
    border-radius:2px;
    margin-top:40px;
    margin-bottom:70px;
}
.charter a{
    text-decoration:none;
    color:#ffffff;
}
.charter-1{
    background:#fb565a;
}
.charter-2{
    background:#00ca74;
}
.charter-3{
    background:#efc84a;
}
.advantage{
    border:1px solid red;
    margin-bottom:57px;
}
.advantage-left{
    border:1px solid blue;
    float:left;
    width:700px;
}
.advantage-right{
    border:1px solid blue;
    float:right;
    width:400px;
}
.advantage-left h4{
    margin-top:7px;
    text-transform:uppercase;
}
.menu-charter{
    margin-top:15px;
    line-height:50px;
}
.advantage-right h4{
    text-transform:uppercase;
    margin-left:40px;
}
.logo-color{
    margin-top:5px;
    margin-left:43px;
    margin-bottom:32px;
}
.stat-1{
    float:left;
    margin-left:42px;
}
.stat-2{
    float:left;
    margin-left:20px;
}
.stat-3{
    float:left;
    margin-left:20px;
}
.stat{
    width:100px;
    margin-top:-12px;
}
.stat p{
    margin-top:-20px;
}
.client{
    float:left;
}
.client-2{
    margin-left:40px;
}
.client-3{
    margin-left:40px;
}
.client-4{
    margin-left:40px;
}
.map{
    position:relative;
}
.contakts{
    border:1px solid blue;
    width:320px;
    position:absolute;
    top:200px;
    left:100px;
    background:#ffffff;
}
.contakts h4{
    text-transform:uppercase;
}
.social{
    display:inline-block;
}
.social-list{
    border:1px solid blue;
    list-style:none;
    width:260px;
    padding-left:0;
    margin-right:135px;
}
.social-list a{
    border:1px solid red;
    display:inline-block;
    border-radius:50%;
    min-height:80px;
    width:80px;
}
footer{
    margin-left:130px;
}
.friends{
    border:1px solid blue;
    display:inline-block;
}
.profit{
    font-weight:bold;
    font-size:38px;
}
.top-block-catalog{
    border:1px solid blue;
    width:100%;
    min-height:340px;
    margin-bottom:57px;
}
.magazine{
    margin-left:345px;
    margin-top:70px;
}
.main-catalog{
    border:1px solid blue;
}
.left-column{
    border:1px solid blue;
    margin-left:128px;
    width:260px;
    min-height:775px;
    float:left;
}
.price h3{
    font-size:18px;
    font-weight:bold;
}
.main-range{
    border:1px solid blue;
    padding-bottom:39px;
    width:242px;
    border-radius:2px;
    padding-left:18px;
}
.range {
  width: 200px;
  height: 3px;
  background: grey;
  margin-top: 40px;
  position: relative;
}
.range:after {
   position: absolute;
   content: '';
   width: 80%;
   height: 100%;
   background: red;
   top: 0;
   left: 25px;
}
.range-item {
  position: absolute;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
}
.range-item:after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.range-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.range-item-left {
  left: 10px;
}
.range-item-right {
  right: 10px;
}
.gallery{
  border:1px solid blue;
  float:right;
  width:760px;
}
.block-item{
    width:360px;
}
.sedona,.barbershop,.a-plus{
    float:left;
}
.pink,.mishka,.kvast{
    float:right;
}
.sort{
    border:1px solid red;
}
.sorting{
    border:1px solid blue;
    display:inline-block;
}
.sort-1{
    border:1px solid blue;
    display:inline-block;
}
.sorting-icon{
    border:1px solid blue;
    display:inline-block;
}
.bottom-navigator{
    border:1px solid red;
}
.page{
    border:1px solid blue;
    display:inline-block;
    width:50px;
    min-height:50px;
}
.page-next{
    width:260px;
}
.slider{
    background-image:url(../img/slider-1.png);
    background-repeat:no-repeat;
    background-position:400px 0px;
}

/*Стили спрайта
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -10px -45px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -10px -87px;
}

.sprite-sort-down {
    width: 9px;
    height: 9px;
    background-position: -10px -128px;
}

.sprite-sort-up {
    width: 9px;
    height: 9px;
    background-position: -10px -157px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -10px -186px;
}
*/